swagger: '2.0'
info:
  title: Virrealy API
  version: "1"
host: c6b49d634b.testurl.ws
schemes:
  - http
produces:
  - application/json
paths:
  /session:
    post:
      summary: It initializes a game session and return with the identification of the session.
      parameters:
        - name: gameId
          in: formData
          description: The ID of game.
          required: true
          type: integer
      responses:
        201:
          description: The game session has been created.
          schema:
            type: array
            items:
              $ref: '#/definitions/SessionId'
        400:
          description: Bad Request - Invalid or missing parameter.
        500:
          description: Internal Server Error - General (database) error.
  /session/{sessionId}:
    get:
      summary: It returns with the game session information.
      parameters:
        - name: sessionId
          in: path
          description: The ID of session.
          required: true
          type: integer
      responses:
        200:
          description: The given session configuration.
          schema:
            type: array
            items:
              $ref: '#/definitions/Session'
        204:
          description: No Content - The given session does not exist.
        500:
          description: Internal Server Error - General (database) error.

  /session/{sessionId}/stage/{stageId}:
    post:
      summary: Validates the given answer and saves the current status.
      parameters:
        - name: sessionId
          in: path
          description: The id of session.
          required: true
          type: integer
        - name: stageId
          in: path
          description: The id of stage.
          required: true
          type: integer
        - name: answer
          in: formData
          required: true
          type: string
      responses:
        200:
          description: The given answer is valid or not.
          schema:
            type: boolean
        400:
          description: Bad Request - Invalid or missing parameter.
        500:
          description: Internal Server Error - General (database) error.

  /stage/{stageId}:
      get:
        summary: It returns with the given stage information.
        parameters:
          - name: stageId
            in: path
            description: The ID of stage.
            required: true
            type: integer
        responses:
          200:
            description: The given stage information.
            schema:
              type: array
              items:
                $ref: '#/definitions/Stage'
          400:
            description: Bad Request - Invalid or missing parameter.
          500:
            description: Internal Server Error - General (database) error.
            
definitions:
  SessionId:
    type: object
    properties:
      sessionId:
        type: integer

  Session:
    type: object
    properties:
      sessionId:
        type: integer
      gameId:
        type: integer
      stages:
        type: array
        items:
          $ref: '#/definitions/Stage'
  Stage:
    type: object
    properties:
      stageId:
        type: integer
      stageType:
        type: string
      information:
        type: string
      answer:
        type: string
      validationType:
        type: string